.rdrCalendarWrapper {
  box-sizing: border-box;
  background: #ffffff;
  display: inline-flex;
  flex-direction: column;
  user-select: none;
}

.rdrDateDisplay{
  display: flex;
  justify-content: space-between;
}

.rdrDateDisplayItem{
  flex: 1 1;
  width: 0;
  text-align: center;
  color: inherit;
  & + &{
    margin-left: 0.833em;
  }
  input{
    text-align: inherit;
    &:disabled{
      cursor: default;
    }
  }
}

.athlinksItem {
  position: relative;
  border-color: #e0e0e0 !important;
  box-shadow: none !important;
}

.athlinksItem i:after {
  display: inline-block;
  content: "\D7";
  position: absolute;
  top: 6px;
  right: 10px;
  background: #e5e5e5;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  padding: 3px;
  color: #676767;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 5px;
  cursor: pointer;
  font-style: normal;
}

.rdrDateDisplayItemActive{}

.rdrMonthAndYearWrapper {
  box-sizing: inherit;
  display: flex;
  justify-content: space-between;
}

.rdrMonthAndYearPickers{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdrMonthPicker{
  width: 100%
}

.rdrYearPicker{
  width: 100%
}

.rdrNextPrevButton {
  box-sizing: inherit;
  cursor: pointer;
  outline: none;
}

.rdrPprevButton {}

.rdrNextButton {}

.rdrMonths{
  display: flex;
}

.rdrMonthsVertical{
  flex-direction: column;
}

.rdrMonthsHorizontal > div > div > div{
  display: flex;
  flex-direction: row;
}

.rdrMonth{
  width: 27.667em;
}

.rdrWeekDays{
  display: flex;
}

.rdrWeekDay {
  flex-basis: calc(100% / 7);
  box-sizing: inherit;
  text-align: center;
}

.rdrDays{
  display: flex;
  flex-wrap: wrap;
}

.rdrDateDisplayWrapper{}

.rdrMonthName{}

.rdrInfiniteMonths{
  overflow: auto;
}